{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80
}
```

Create `.prettierignore` in the root:
```
node_modules
dist
dist-electron
out
build
*.db
*.sqlite
poetry.lock
pnpm-lock.yaml